html,
body,
#root {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
.app {
  height: 100vh;
  /* если откроешь внутри Telegram — это поможет не прыгать по высоте */
  height: var(--tg-viewport-stable-height, 100vh);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgb(197, 197, 197);
}

.hud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  user-select: none;
  pointer-events: none;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.over {
  background-color: rgba(17, 16, 16, 0.7);
  width: 100%;
  height: 100%;
  // opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
}

.over__text {
  color: white;
  font-size: 32px;
}

.over__btn {
  font-size: 32px;
  padding: 12px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 18px;
  pointer-events: auto;
  cursor: pointer;
}

.game {
}

.score {
  font-size: 18px;
  font-weight: 700;
}

.hint {
  margin-top: 6px;
  font-size: 12px;
  opacity: 0.8;
}

.app-container {
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: rgb(1, 76, 1);
  position: relative;
}

.can {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
